/* Styles footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 35px auto 10px;
    padding: 0 100px 0;
}

#icons-footer {
    display: flex;
    width: 190px;
    justify-content: space-between;
}

#icons-footer img {
    height: 30px;
}

footer span {
    font-size: var(--petitTexte);
    color: var(--blanche);
}

footer a {
    font-size: var(--petitTexte);
    color: var(--blanche);
}
