@media (max-width: 1000px){
    
    #content {
        flex-direction: column;
        margin-left: 0px;
        padding: 0px 5px;
    }
    
    #left-content {
        width: 100%;
    }

    #right-content {
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section p {
        font-size: var(--Police-Taille-Texte);
    }

    #right-content article:first-child,  #right-content article:nth-child(2){
        margin-bottom: 20px;
        width: 45%;
    }
}

@media (max-width: 800px) {
    #right-content {
        padding-top: 50px;
        flex-direction: column;
    }

    #right-content article:first-child,  #right-content article:nth-child(2){
        margin-bottom: 35px;
        width: 100%;
    }

    main div#right-content article:nth-child(2) img{
        margin-top: 15px;
    }
}

@media (max-width: 430px){
    #img-graph {
        width: 100%;
        height: auto;
    }
    #left-content {
        z-index: -1;
    }
}

@media (max-width: 330px){
    #content #left-content img:first-of-type {
        width: 100%;
    }
}