@media screen and (max-width:495px){
    main #Main-News label{
        font-size: 2rem;
        margin-right: 0px;
        margin-left: 5px;
    }

    main #News-Pub #Main-News label[for="Day"]{
        display: none;
    }
}

@media screen and (max-width:850px){
    
    #Main-News>span:nth-child(1){
        display: none;
    }

    #decoration > *{
        opacity: 0.3;
    }
}

@media screen and (min-width:701px) and (max-width: 1024px) {
    main #Main-News>span, 
    main #Main-News label{
        font-size: var(--Police-Taille-Texte);
    }
}

@media screen and (max-width:700px) {

    #Main-News label{
        border: 1px var(--aqua-green-800) solid;
        padding: 3px;
        border-radius: 10px;
    }

    #Main-News input:checked + label{
        color: var(--fire-bush-700);
        border: 1px var(--fire-bush-700) solid;
        background-color: var(--fire-bush-200);
    }

    main section#News-Pub>#Main-Pub {
        display: none;
    }

    main section#News-Pub>div#Main-News{
        width: 85%;
        margin: 0 auto;
    }

    #titreTrop{
        font-size: var(--Police-Taille-Regular);
    }
}

@media screen and (max-width:600px){
    label.aurevoir {
        display: none;
    }
}

@media screen and (max-width:360px){
    html {
        font-size: 55.5%;
    }
}

@media screen and (max-width:1000px) {
    #container-newsBlock a div.all {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }

    input{
        display: none;
    }

    #Main-News input:checked + label{
        color: var(--fire-bush-700);
        border-bottom: 1px var(--fire-bush-700) solid;
    }

    
    section#News-Pub>div#Main-News{
        width: 60%;
        margin-left: 20px;
    }

    section#News-Pub>#Main-Pub {
        width: 35%;
    }

    #container-newsBlock a div.all figure.container-img-news {
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        background-color: red;
        object-fit: cover;
    }
    
    div.all figure.container-img-news img {
        width: 100%;
        object-fit: cover;
    }

    #container-newsBlock a div.all div.text-news {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 0px;
        padding: 10px;
        border-radius: 0px 0px 20px 20px;
    }

    #container-newsBlock a div.all div.text-news p.date-news {
        font-size: var(--Police-Taille-Texte);
    }
}

h1 {
    font-size: var(--Police-Taille-TitlePage);
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-HyperBold);
}

main {
    margin: 0 auto;
    max-width: var(--Ordi);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>h1 {
    color: var(--aqua-green-800);
    text-align: center;
}

main>p#nbArticles {
    color: var(--aqua-green-700);
    font-size: var(--Police-Taille-Texte);
    font-family: var(--pocileG);
    font-weight: var( --Police-weight-Regular);
    text-align: center;
    margin-bottom: 25px;
}

section#News-Pub {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}


#Main-News>span,
#Main-News label{
    font-family: var(--pocileG);
    font-size: var(--Police-Taille-Regular);
    font-weight: var(--Police-weight-SemiBold);
    color: var(--shark-700);
    margin-left: 10px;
    margin-right: 0px;
}

#Main-News #container-newsBlock{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#container-newsBlock a div.all:hover {
    cursor: pointer;
}

#container-newsBlock div.Econ div.text-news {
    background-color: var(--fire-bush-200);
    border: 2px var(--fire-bush-400) solid;
}

#container-newsBlock div.Ecol div.text-news {
    background-color: var(--aqua-green-300);
    border: 2px var(--aqua-green-700) solid;
}

div.Econ div.text-news h4.Title-news{
    color: var(--fire-bush-700);
}

div.Ecol div.text-news h4.Title-news{
    color: var(--aqua-green-800);
}

div.all div.text-news h4.Title-news {    
    font-size: var(--Police-Taille-SubTitle);
    font-weight: var(--Police-weight-Bold);
    font-family: var(--pocileG);
}

div.all div.text-news p.descriptions-news{
    color: var(--shark-700);
    font-weight: var(--Police-weight-SemiBold);
    font-size: var(--Police-Taille-Texte);
    font-family: var(--pocileG);
}

div.all div.text-news p.date-news {
    font-size: var(--Police-Taille-SmallTexte);
    font-family: var(--pocileG);
}


div#container-newsBlock>div {
    display: none;
}


input#All:checked ~ div#container-newsBlock div {
    display: flex;
}

input#Ecol:checked ~ div#container-newsBlock div.Econ {
    display: none;
}

input#Ecol:checked ~ div#container-newsBlock div.Ecol {
    display: flex;
}

input#Econ:checked ~ div#container-newsBlock div.Econ {
    display: flex;
}

input#Econ:checked ~ div#container-newsBlock div.Ecol {
    display: none;
}

input#Day:checked ~ div#container-newsBlock div.Day.all {
    display: flex;
}

input#Day:checked ~ div#container-newsBlock div.Ecol {
    display: none;
}

input#Day:checked ~ div#container-newsBlock div.Econ {
    display: none;
}

#Main-Pub div#Cache-Pub {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

#Main-Pub div#Cache-Pub img#img-trou {
    width: 320px;
}

#Main-Pub div#Cache-Pub img {
    width: 320px;
}

#Main-Pub div#Cache-Pub img#img-trou {
    position: absolute;
}