header {
    margin-top: 35px;
    margin-bottom: 100px;
    width: 100%;
    height: 110px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
}

header figure.logoContainer {
    width: 350px;
}

figure.logoContainer img {
    width: 100%;
}

figure.logoContainer img:nth-child(2) {
    display: none;
}

header div.iconsContainer-Header img {
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

div.iconsContainer-Header img:nth-child(1){
    left: 0px;
    top: 0px;
    width: 220px;
}

div.iconsContainer-Header img:nth-child(2) {
    top: 0px;
    left: 420px;
    height: 145px;
}

div.iconsContainer-Header img:nth-child(3){
    left: 350px;
    top: 160px;
    width: 60px;
}

#menuDerroulant {
    border: 2px var(--shark-700) solid;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    background: none;
    display: flex;
    align-items: center;
}

nav#container-menuDerroulant {
    width: 100%;
    display: flex;
    justify-content: center;
}

#container-menuDerroulant ul {
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-SemiBold);
    font-size: var(--Police-Taille-Regular);
    gap: 30px;
}

#container-menuDerroulant ul li:nth-child(1){
    border-bottom: 2px var(--aqua-green-700) solid;
    padding-bottom: 2px;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4),
nav ul li:nth-child(5) {
    display: none;
}

div#menuDerroulant:hover nav ul li:hover {
    border-bottom: 2px var(--fire-bush-700) solid;
}

div#menuDerroulant:hover nav ul li:hover a {
    color: var(--fire-bush-700);
}


#menuDerroulant:hover nav ul li {
    display: block;
}

nav ul li a {
    color: var(--shark-700);
}

#menuDerroulant:hover nav ul li:nth-child(1){
    border: none;
}

#menuDerroulant:hover nav {
    margin-right: 27px;
}

#menuDerroulant:hover {
    width: auto;
    padding-left: 20px;
}

#container-menuDerroulant ul li:nth-child(1):hover {
    padding-bottom: 0px;
}

@media screen and (max-width: 720px) {
    header {
        margin: 95px 0px 65px 0px;
        width: 100%;
        height: 110px;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        align-items: flex-start;
    }
    
    div.iconsContainer-Header img:nth-child(2) {
        top: 0px;
        left: 50%;
        height: 75px;
    }
     
    figure.logoContainer {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header figure.logoContainer img:nth-child(1) {
        display: block;
        width: 200%;
    }

    header figure.logoContainer {
        width: 100px;
        height: 100px;
    }
    
    header figure.logoContainer img:nth-child(2) {
        display: none;
        width: 100%;
    }

    #menuDerroulant {
        border: 2px var(--shark-700) solid;
        border-radius: 50px;
        margin-left: 0px;
        width: 100px;
        height: 50px;
        background: var(--aqua-green-300);
        display: flex;
        align-items: center;
        position: fixed;
        margin-right: 20px;
    }

    #menuDerroulant:hover {
        width: auto;
        height: auto;
        padding-left: 0px;
        align-items: flex-start;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 20px;
    }

    div#menuDerroulant:hover nav ul li:hover {
        border-bottom: none;
    }

    div#menuDerroulant:hover nav ul li:hover a{
        border-bottom: 2px var(--fire-bush-700) solid;
    }

    #container-menuDerroulant ul {
        display: flex;
        flex-direction: column;
        font-family: var(--pocileG);
        font-weight: var(--Police-weight-SemiBold);
        font-size: var(--Police-Taille-Regular);
        gap: 30px;
    }

    #menuDerroulant:hover nav {
        margin-right: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 1200px){
    #menuDerroulant {
        background: var(--aqua-green-300);
    }
}

@media screen and (max-width: 900px) {
    figure.logoContainer img:nth-child(1) {
        display: none;
    }

    header figure.logoContainer {
        width: 110px;
        height: 110px;
    }
    
    figure.logoContainer img:nth-child(2) {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    body header figure.logoContainer img:nth-child(1) {
        display: none;
    }

    body header figure.logoContainer {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0% 70% 0% 0%;
    }
    
    body header figure.logoContainer img:nth-child(2) {
        display: block;
        width: 100%;
    }
}