body {
    background-color: var(--Bg-Web); /* pour éviter la répétition de l'image */

}

main {
    max-width: var(--Ordi);
    margin-left: 20px;
}


.Row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 100px;
}

.Row div{
    margin: 0px 15px;
}

.Divider{
    width: 3px;
    height: 185px;
    background-color: var(--shark-700);
    margin-top: 25px;
    border-radius: 5px;
}

.Column{
    display: flex;
    flex-direction: column;
}

h2{
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-HyperBold);
    color: var(--aqua-green-400);
    font-size: 45px;
    padding-bottom: 15px;
}

.Column p, .Column li {
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-Bold);
    color: var(--shark-700);
    font-size: 17px;
    margin-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#indent{
    tab-size: 10px;
}

#Bubble{
    position: absolute;
    height: 600px;
    top: 450px;
    right: -5px;
    right: 0px;
}

footer{
    position: relative;
    bottom: -80px;
}

.Space{
    height: 200px;
}

#text2{
    padding-left: 40px;
    font-size: 30px;
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-SemiBold);
    color: var(--shark-700);
    margin-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#centerSpace1{
    padding-top: 8%;
}
#centerSpace2{
    padding-top: 25%;
}
#centerSpace3{
    padding-top: 25%;
}
#BubbleReversed{
    position: absolute;
    height: 600px;
    width: 540px;
    top: 950px;
    left: 0px;
}

#text3{
    padding-left: 570px;
    font-size: 30px;
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-SemiBold);
    color: var(--shark-700);
    margin-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}


#BubbleLast{
    position: absolute;
    height: 600px;
    top: 1450px;
    right: 0px;
}

@media screen and (max-width: 1300px) {
    #Bubble{
        height: 0px;
    }
    #BubbleReversed{
        height: 0px;
    }
    #BubbleLast{
        height:0px;
    }
    #text1{
        padding-left: 0px;
    }
    #text2{
        padding-left: 0px;
    }
    #text3{
        padding-left: 0px;
    }
    .Row{
        margin: 0px;
    }
    #centerSpace2{
        padding-top: 5%;
    }
    #centerSpace3{
        padding-top: 5%;
    }
}

@media screen and (max-width: 720px) {
    #Bubble{
        height: 400px;
        top: 1150px;
    }
    #BubbleReversed{
        height: 380px;
        width: 350px;
        top: 1830px;
    }
    #BubbleLast{
        height: 400px;
        top: 2550px;
    }
    #text1{
        padding-left: 0px;
    }
    #text2{
        padding-left: 0px;
    }
    #text3{
        padding-left: 0px;
    }
    .Row{
        margin: 0px;
    }
    #centerSpace2{
        padding-top: 70%;
    }
    #centerSpace3{
        padding-top: 70%;
    }
    .Space{
        height: 300px;
    }
}
