
h1 {
    font-size: var(--Police-Taille-TitlePage);
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-HyperBold);
    color: var(--aqua-green-800);
    text-align: center;
}

main {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-graph {
    width: 420px;
    height: auto;
}

#img-diagramme {
    width: 100%;
    height: auto;
}

main>p {
    color: var(--aqua-green-700);
    font-size: var(--Police-Taille-Texte);
    font-family: var(--pocileG);
    font-weight: var( --Police-weight-Regular);
    text-align: center;
    margin-bottom: 25px;
}

a:hover {
    opacity: 70%;
}

@keyframes changeText {
    0% { content: "Éco-Cript"; }
    33% { content: "Éco-logie"; }
    66% { content: "Éco-nomie"; }
}
 
.changing-text::before {
    content: "Éco-Cript";
    display: inline;
    animation: changeText 11s infinite;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0px 50px 20px;
}

#left-content {
    width : 75%;
}

#right-content {
    width: 23%;
    padding-top: 100px;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-content > section {
    margin: 10px 0px 30px 0px;
}

main h2 {
    font-size: var(--Police-Taille-SubTitle);
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-Bold);
    color: var(--aqua-green-800);
    margin: 25px 0px;
}

main h3 {
    font-size: var(--Police-Taille-Regular);
    font-family: var(--pocileG);
    font-weight: var(--Police-weight-Bold);
    color:  var(--fire-bush-700);
    margin: 0px 0px 10px 0px;
}

#left-content h3 {
    color: var(--aqua-green-800);
    margin: 25px 0px 10px 0px;
}

main p {
    font-family: var(--pocileG);
    text-align: justify;
}

main section p {
    font-size: var(--Police-Taille-Regular);
    line-height: 120%;
    text-indent: 15px;
}

main article p {
    font-size: var(--Police-Taille-Texte);
}

main article.little-info p {
    color:  var(--fire-bush-700);
}

main article:nth-child(2) p {
    color:  var(--navy-blue);
}

.little-info {
    background-color: var(--fire-bush-200);
    border: 3px var(--fire-bush-400) solid;
    border-radius: 15px;
    padding: 20px;    
}

main div#right-content article:nth-child(2) img {
    margin-top: 30px;
}

#left-content img {
    margin: 15px 0px;
    opacity: 0.9;
}