<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoEco</title>
    <link rel="stylesheet" href="../stylee/stylesH.css"> <!-- Header's Styles -->
    <link rel="stylesheet" href="../stylee/stylesF.css"> <!-- Footer's Styles -->
    <link rel="stylesheet" href="../stylee/stylesVar.css"> <!-- Variables's Styles -->
    <link rel="stylesheet" href="../stylee/stylesContact.css"> <!-- Page's Styles-->
    <!--Links to have Libre Franklin's Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;0,600;0,700;0,900;1,100;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <figure class="logoContainer">
            <img src="https://i.imgur.com/93ceLna.png" alt="logo">
            <img src="https://i.imgur.com/wrXgPUG.png" alt="logo-mobile">
        </figure>
        <div class="iconsContainer-Header">
            <img src="https://i.imgur.com/FiXpJgz.png" alt="">
            <img src="https://i.imgur.com/RzyAeW5.png" alt="">
            <img src=".https://i.imgur.com/v9nCgMv.png" alt="">
        </div>
        <div id="menuDerroulant">
            <nav id="container-menuDerroulant">
                <ul>
                    <li class="linone">
                        <a id="menuN" href="">Menu</a>
                        <img id="MenuB" src="https://cdn-icons-png.flaticon.com/512/6015/6015685.png" alt="">
                    </li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./stat.html">Blog</a></li>
                    <li><a href="./news.html">News</a></li>
                    <li><a href="./formulaire.html">Inscription</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
         <div class="debut">
            <h1>
                Contacter-nous!
            </h1>
            <img class="tropGrandetirer" src="https://cdn.discordapp.com/attachments/1150431005149253665/1173714139420565544/image.png?ex=6564f579&is=65528079&hm=4b6fb087353df6828044632334cee0af54f8da9fb83cc107f06f7020b9daa5d6&" alt="contacte">
        </div>
        <section>
            <h3 class="Important">
                N'hésitez surtout pas à nous contacter par les moyens ci-dessous !
            </h3>
        </section>
        <section class="moyen">
            <div class="orange">
                <img class="tropGrand" src="https://cdn-icons-png.flaticon.com/512/6124/6124988.png" alt="image yahoo">
                <p>
                    Voici notre adresse yahoo: Ecocrypt@yahoo.com
                </p>
            </div>
            <div class="vert">
                <img class="tropGrand" src="https://i.imgur.com/iFAMvbp.png" alt="image gmaill">
                <p>
                    Voici notre adresse gmaill: Ecocrypt@gmaill.com
                </p>
            </div>
            <div class="orange">
                <img class="tropGrand" src="https://i.imgur.com/jeX0dIO.png" alt="image tel">
                <p>
                    Voici notre numéro de téléphone: 06 32 95 62 73
                </p>
            </div>
            <div class="vert">
                <img class="tropGrand" src="https://i.imgur.com/pGeiXcr.png" alt="image messagerie">
                <p>
                    Voici notre numéro de messagerie: 06 67 37 96 43
                </p>
            </div>
        </section>
        <article>
            <h3 class="Important">
                Venez chez nous!
            </h3>
            <div class="moyen2">
                <p>
                    Venez nous rendre visite quand vous le souhaitez dans notre établissement de 8 heures à 18 heures pour 
                    Recueillir des informations ou même postuler pour rentrer dans notre entreprise Ecocrypt. <strong> L'adresse est 72 Les Cinq Avenues </strong>. 
                </p>
                <img class="moyengrand" src="https://www.gralon.net/plan-ville/cartes/plan-marseille-4483.jpg" alt="carte">
            </div>
        </article>
    </main>
    <footer>
        <section id="sociaux">
            <article>
                <h5>Lorem ipsum</h5>
                <div>
                    <img src="https://i.imgur.com/V5FVipx.png" alt="">
                    <img src="https://i.imgur.com/SyLEPGF.png" alt="">
                    <img src="https://i.imgur.com/qg11xPb.png" alt="">
                    <img src="https://i.imgur.com/tOHreXj.png" alt="">
                </div>
            </article>
            <article>
                <h5>Nos réseaux sociaux</h5>
                <img class="logo-gris" src="https://i.imgur.com/5REs1Y7.png" alt="">
            </article>
        </section>
        <div id="images-footer">
            <img src="https://i.imgur.com/6AVo7w3.png" alt="">
            <img src="https://i.imgur.com/I1pZ0Tj.png" alt="">
            <img src="https://i.imgur.com/tAa2Tbr.png" alt="">
            <img src="https://i.imgur.com/gqhiVs4.png" alt="">
            <img src="https://i.imgur.com/bRGVTah.png" alt="">
            <img src="https://i.imgur.com/8bTWoEC.png" alt="">
        </div>
        <section id="Links">
            <div class="links-footer">
                <p><a href="./contact.html">Questions?</a></p>
                <p><a href="../index.html">À propos de nous</a></p>
                <p><a href="./formulaire.html">Formulaire</a></p>
            </div>
            <div class="links-footer">
                <p><a href="https://chat.openai.com/">ChatGPT</a></p>
                <p><a href="https://github.com/Youvataque/SAE1.06">Github</a></p>
                <p><a href="lainez.pro">Cookie</a></p>
            </div>
            <div class="links-footer">
                <p><a href="./news.html">Glossaire</a></p>
                <p><a href="https://www.instagram.com/direct/t/7005981826089044/">Communauté</a></p>
                <p><a href="/view/stat.html">Plan du site</a></p>
            </div>
        </section>
        <section id="text-footer">
            <p>Ab qui ducimus, accusamus hic, similique ipsam earum adipisci, obcaecati iure quos doloribus laboriosam beatae necessitatibus voluptatem? Libero explicabo facilis nemo corrupti.</p>
            <p>©2023 Lorem ipsum dolor sit amet consectetur INC.</p>
        </section>
    </footer>
</body>
</html>
