<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoEco</title>
    <link rel="stylesheet" href="../stylee/stylesH.css"> <!-- Header's Styles -->
    <link rel="stylesheet" href="../stylee/stylesF.css"> <!-- Footer's Styles -->
    <link rel="stylesheet" href="../stylee/stylesVar.css"> <!-- Variables's Styles -->
    <link rel="stylesheet" href="../stylee/stylesStat.css"> <!-- Page's Styles-->
    <link rel="stylesheet" href="../stylee/mobile/stylesStat.css">
    <!--Links to have Libre Franklin's Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,400;0,600;0,700;0,900;1,100;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <figure class="logoContainer">
            <img src="https://i.imgur.com/93ceLna.png" alt="logo">
            <img src="https://i.imgur.com/wrXgPUG.png" alt="logo-mobile">
        </figure>
        <div class="iconsContainer-Header">
            <img src="https://i.imgur.com/FiXpJgz.png" alt="">
            <img src="https://i.imgur.com/RzyAeW5.png" alt="">
            <img src=".https://i.imgur.com/v9nCgMv.png" alt="">
        </div>
        <div id="menuDerroulant">
            <nav id="container-menuDerroulant">
                <ul>
                    <li class="linone">
                        <a id="menuN" href="">Menu</a>
                        <img id="MenuB" src="https://cdn-icons-png.flaticon.com/512/6015/6015685.png" alt="">
                    </li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="formulaire.html">Inscription</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div id="decoration">
            <div id="decoGauche">
                <figure><img src="https://i.imgur.com/keErWFB.png" alt=""></figure>
                <figure><img src="https://i.imgur.com/4jQkgUC.png" alt=""></figure>
                <figure><img src="https://i.imgur.com/q9Z8qn8.png" alt=""></figure>
                <figure><img src="https://i.imgur.com/nnGdtZX.png" alt=""></figure>
            </div>
            <div id="decoDroit">
                <figure><img src="https://i.imgur.com/MRllC8s.png" alt=""></figure>
                <figure><img src="https://i.imgur.com/CPiyNG1.png" alt=""></figure>
                <figure><img src="https://i.imgur.com/II2iCp0.png" alt=""></figure>
                <figure><img src="https://i.imgur.com/otPUBRT.png" alt=""></figure>
            </div>
        </div>
        <h1 class="changing-text"></h1>
        <p>Évolution ou Dévolution</p> 
        <div id="content">
            <div id="left-content">
                <section>
                    <h2>Impacts Écologiques des Cryptomonnaies</h2>
                    <div>
                        <p>
                            Selon Selectra, l'empreinte carbone du Bitcoin représenterait 0,55% de la production 
                            électrique mondiale en termes de consommation d'énergie liée notamment au minage. 
                            L'impact écologique représenterait 168,9 tonnes de CO2.
                            Ce qui, mettons fin au mythe, représente une infime partie de la consommation mondiale d'énergie.
                        </p>
                        <img src="https://journalducoin-com.exactdn.com/app/uploads/2022/02/Coinshares-Part-du-bitcoin-dans-la-conso-globale-elec.png?strip=all&lossy=1&quality=90&webp=90&resize=317%2C335&ssl=1" alt="diagramme conso-energie-btc">
                    </div>
                </section>
                <section>
                    <h2>Potentielles Solutions ?</h2>
                    <div>
                        <p>
                            Parmi les solutions proposées pour limiter l'impact environnemental des cryptomonnaies, 
                            l’énergie renouvelable peut être une piste de réduction des émissions de gaz à effet de serre dans le cadre de la cryptomonnaie. 
                            De plus en plus, le Bitcoin notamment utilise des énergies renouvelables. 
                            En effet, un rapport du <a href="https://bitcoinminingcouncil.com/bitcoin-mining-electricity-mix-increased-to-59-5-sustainable-in-q2-2022/">Bitcoin Mining Council</a> 
                            indique que le mix énergétique pour le Bitcoin est de plus en plus “durable”. 
                            Il est, de plus, efficace en terme de technologie. Selon cette étude, 
                            le minage du bitcoin serait ainsi à 59,5% issu d’énergies renouvelables. 
                            Cela représenterait ainsi une augmentation de 6% par rapport à l’année précédente. 
                        </p>
                    </div>
                </section>
                <section>
                    <h2>Impacts Économiques des Cryptomonnaies</h2>
                    <div>
                        <p>
                            Les crypto-monnaies ont un impact tangible sur l'économie mondiale. 
                            En apportant de nombreux avantages comme l'accélération des transactions, 
                            la réduction des frais liés à ces dernières et la simplification des échanges internationaux, 
                            elles se sont imposées comme des rivales majeures pour les monnaies traditionnelles.
                        </p>
                        <p>
                            De plus, en décentralisant la finance, elles confèrent plus d’autonomie aux utilisateurs et leur permettent d’avoir un contrôle total sur leurs devises numériques. 
                            Ceux-ci peuvent notamment se soustraire aux restrictions gouvernementales sur les mouvements de capitaux.
                            Constituant par ailleurs des actifs à part entière, les crypto-monnaies ont des effets sur les marchés financiers. 
                            Un nombre croissant d’investisseurs institutionnels et de particuliers se tourne vers ces devises virtuelles pour diversifier leur portefeuille. 
                            Il suffit de bien choisir sa plateforme de cryptomonnaie pour en acheter en toute sécurité. 
                        </p>
                        <p>
                            Il faut toutefois souligner que ces actifs sont particulièrement volatiles, 
                            leur cours pouvant connaître d’importantes variations au cours de la même journée, voire de la même heure.
                        </p>
                        <figure>
                            <a href="https://www.numerama.com/wp-content/uploads/2021/12/bitcoin-interne.jpg"><img id="img-graph" src="https://www.numerama.com/wp-content/uploads/2021/12/bitcoin-interne.jpg" alt="graph-bitcoin"></a>
                        </figure>
                        <p>
                            Cette situation s’explique par le manque de réglementation qui favorise toutes sortes d’activités illégales. 
                            Tel est notamment le cas du « pump and dump ». 
                            Cette pratique frauduleuse consiste à faire grimper artificiellement le prix d’une monnaie numérique puis à la revendre rapidement, 
                            faisant ainsi s’écrouler immédiatement son cours et occasionnant d’importantes pertes pour les derniers investisseurs.
                        </p>
                    </div>
                </section>
            </div>
            <div id="right-content">
                <article class="little-info">
                    <h3>En Europe</h3>
                    <p>
                        L'Europe s'adapte aux cryptomonnaies avec des approches variées. 
                        Certains pays favorisent l'innovation, comme l'Allemagne, tandis que d'autres, comme la France, adoptent une attitude plus prudente. 
                        En octobre 2022, la Commission européenne a voté le projet de règlement MiCA, pour une régulation commune des crypto-actifs et une lutte contre le blanchiment d'argent. 
                        
                    </p>
                </article>
                <article>
                    <p>
                        💡Le saviez vous ? 8% des français détiennent des cryptomonnaies, 
                        selon une étude réalisée par le cabinet de conseil KPMG parue en février 2022. 
                    </p>
                    <figure>
                        <a href="https://www.hellocarbo.com/wp-content/uploads/2023/03/carbo-les-francais-et-la-cryptomonnaie.png"><img id="img-diagramme" src="https://www.hellocarbo.com/wp-content/uploads/2023/03/carbo-les-francais-et-la-cryptomonnaie.png" alt="carbo-les-francais-et-la-cryptomonnaie"></a>
                    </figure>
                </article>
                <article class="little-info">
                    <h3>Info Monde</h3>
                    <p>
                        Les mineurs de Bitcoin se sont implantés dans les pays où l’électricité était la moins chère. 
                        Le but de ces mineurs est de réaliser des économies et y installer leurs équipements.
                    </p>
                    <p>
                        La Chine par exemple, a longtemps été le principal producteur de Bitcoin jusqu’à l’été 2021. 
                        En novembre 2021, le pays a interdit le minage de cryptomonnaies dans le cadre de sa politique de neutralité carbone. 
                        Beaucoup de mineurs ont ainsi émigré par la suite au Kazakhstan. 
                        D’autres pays produisent du Bitcoin comme la Russie, les Etats-Unis, la Malaysie, l’Iran.
                    </p>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <section id="sociaux">
            <article>
                <h5>Lorem ipsum</h5>
                <div>
                    <img src="https://i.imgur.com/V5FVipx.png" alt="">
                    <img src="https://i.imgur.com/SyLEPGF.png" alt="">
                    <img src="https://i.imgur.com/qg11xPb.png" alt="">
                    <img src="https://i.imgur.com/tOHreXj.png" alt="">
                </div>
            </article>
            <article>
                <h5>Lorem ipsum Lorem</h5>
                <img class="logo-gris" src="https://i.imgur.com/5REs1Y7.png" alt="">
            </article>
        </section>
        <div id="images-footer">
            <img src="https://i.imgur.com/6AVo7w3.png" alt="">
            <img src="https://i.imgur.com/I1pZ0Tj.png" alt="">
            <img src="https://i.imgur.com/tAa2Tbr.png" alt="">
            <img src="https://i.imgur.com/gqhiVs4.png" alt="">
            <img src="https://i.imgur.com/bRGVTah.png" alt="">
            <img src="https://i.imgur.com/8bTWoEC.png" alt="">
        </div>
        <section id="Links">
            <div class="links-footer">
                <p><a href="">Lorem ipsum</a></p>
                <p><a href="">Lorem ipsum</a></p>
                <p><a href="">Lorem ipsum</a></p>
            </div>
            <div class="links-footer">
                <p><a href="">Lorem ipsum</a></p>
                <p><a href="">Lorem ipsum</a></p>
                <p><a href="">Lorem ipsum</a></p>
            </div>
            <div class="links-footer">
                <p><a href="">Lorem ipsum</a></p>
                <p><a href="">Lorem ipsum</a></p>
                <p><a href="">Lorem ipsum</a></p>
            </div>
        </section>
        <section id="text-footer">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab qui ducimus, accusamus hic, similique ipsam earum adipisci, obcaecati iure quos doloribus laboriosam beatae necessitatibus voluptatem? Libero explicabo facilis nemo corrupti.</p>
            <p>©2023 Lorem ipsum dolor sit amet consectetur INC.</p>
        </section>
    </footer>
</body>
</html>